<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8"/>
    </head>
    <body>
 	    <h1>Poll closed</h1>
 	    <p>You are receiving this email because you voted in the poll titled "[[${poll.title}]]"</p>
 	    <p>The day chosen for the meeting is</p>
 	    <p th:text="${poll.chosenDay}">2024-11-01</p>
 	    <br>
 	    <p>See you next time!</p>
     	<br>
     	<!--/*  
     	<p>
        	<img th:src="'cid:logosmall'" />
     	</p>
	  	<p style="margin-top: 10px;">Thank you, <br />
	     	<a href="http://www.example.com/"><em>EXAMPLESITE</em></a>
	  	</p>
     	*/-->
    </body>
</html>
