<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
 		<meta charset="UTF-8"/>
    </head>
    <body>
 	   <strong>Conferma di registrazione</strong>
    	<p>Gentile utente,<br/><br/> abbiamo ricevuto una richiesta di registrazione al nostro sito per questo indirizzo email.</p>
    
    	<p>Clicca sul seguente link per confermare la registrazione:</p>
    	<p><a th:text="${fullLink}" th:href="${fullLink}" href="#">Conferma registrazione sito MyDoodle</a></p>
    
     	<br>
    	<p>Se non hai mandato tu questa richiesta puoi ignorare la presente email.</p>
     	
    </body>
</html>
