
$c-error: red;

html {
	font-size: 16px;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	padding: 5px 10px;
	margin-bottom: 50px;
}

h1+div {
	font-size: 0.8em;
	line-height: 0.4em;
}

main.container {
	min-height: 200px;
}

.pollView {
	margin-bottom: 50px;	
}

.pollAttributes {
	margin: 2em 0;
	display: grid;
	grid-template-columns: auto auto; // Defines two columns with automatic width
	gap: 10px; // Sets the gap between grid items

	>div:nth-child(odd) {
		font-weight: bold; // Makes the label divs bold
		// Additional styling for labels can go here
	}

	>div:nth-child(even) {
		// Additional styling for content divs can go here
	}
}

.choiceForm {
	label {
		padding-right: 10px;
	}
}

.card.small {
	max-width: 500px;
    margin: 100px auto;
}
#loginForm {
	button[data-bs-dismiss="modal"] {
		display: none;
	} 
}

#langmenu {
	float: right;
    border: none;
}

.asdrg {
	display: none; // Antispam field
}

.pwdMismatch {
	visibility: hidden;
}
form.yada-password-mismatch {
	.pwdMismatch {
		visibility: visible;
		color: $c-error;
	}
}
.fieldError {
	color: $c-error;
}
	