<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">

<head>
	<meta charset="UTF-8">
</head>

<body th:remove="tag">
	<form>

		<!-- Day 1 -->
		<fieldset>
			<legend>Venerdì 1</legend>
			<label><input type="radio" name="day1" value="yes"> Yes</label>
			<label><input type="radio" name="day1" value="no" checked> No</label>
			<label><input type="radio" name="day1" value="maybe"> Maybe</label>
		</fieldset>

		<!-- Day 2 -->
		<fieldset>
			<legend>Sabato 2</legend>
			<label><input type="radio" name="day2" value="yes"> Yes</label>
			<label><input type="radio" name="day2" value="no" checked> No</label>
			<label><input type="radio" name="day2" value="maybe"> Maybe</label>
		</fieldset>

		<!-- Day 3 -->
		<fieldset>
			<legend>Domenica 3</legend>
			<label><input type="radio" name="day3" value="yes"> Yes</label>
			<label><input type="radio" name="day3" value="no" checked> No</label>
			<label><input type="radio" name="day3" value="maybe"> Maybe</label>
		</fieldset>

		<!-- Day 4 -->
		<fieldset>
			<legend>Lunedì 4</legend>
			<label><input type="radio" name="day4" value="yes"> Yes</label>
			<label><input type="radio" name="day4" value="no" checked> No</label>
			<label><input type="radio" name="day4" value="maybe"> Maybe</label>
		</fieldset>

		<!-- Day 5 -->
		<fieldset>
			<legend>Martedì 5</legend>
			<label><input type="radio" name="day5" value="yes"> Yes</label>
			<label><input type="radio" name="day5" value="no" checked> No</label>
			<label><input type="radio" name="day5" value="maybe"> Maybe</label>
		</fieldset>

		<!-- Day 6 -->
		<fieldset>
			<legend>Mercoledì 6</legend>
			<label><input type="radio" name="day6" value="yes"> Yes</label>
			<label><input type="radio" name="day6" value="no" checked> No</label>
			<label><input type="radio" name="day6" value="maybe"> Maybe</label>
		</fieldset>

		<!-- Day 7 -->
		<fieldset>
			<legend>Giovedì 7</legend>
			<label><input type="radio" name="day7" value="yes"> Yes</label>
			<label><input type="radio" name="day7" value="no" checked> No</label>
			<label><input type="radio" name="day7" value="maybe"> Maybe</label>
		</fieldset>
	</form>


</body>

</html>