<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">
<body>
	<footer>
		<hr>
		<div class="container">
			<div>
				<p th:if="${@userSession.loggedIn}"><span th:text="#{label.user}">User</span> [[${@userSession.currentUsername}]]</p>
				<a th:href="@{/user/poll}">Home</a> -
				<a th:href="@{/admin/dashboard}">Dashboard</a>
				<a th:if="${@userSession.loggedIn}" th:href="@{/logout}"> - <span th:text="#{label.logout}">Logout</span></a>
				<a th:href="@{/privacy}" class="float-end">Privacy Policy</a>
			</div>
		</div>
		<br>
	</footer>
	
    <script th:src="@{/static/jquery-3.7.1.min.js}" ></script>
	<script th:if="${!@config.developmentEnvironment}" th:src="@{/res/js/yada.min.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.ajax.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.cookieBanner.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.datatables.js}"></script>
	<script th:if="${@config.developmentEnvironment}" th:src="@{/yadares/js/yada.social.js}"></script>
    <script th:src="@{|/res/js/wcp${@config.min}.js|}" ></script>
    <script th:src="@{/static/bootstrap-5.3.3/js/bootstrap.bundle.min.js}" ></script>

	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
			yada.devMode = /*[[${@config.isDevelopmentEnvironment()}]]*/ "unset";
			yada.baseUrl = /*[[@{/}]]*/ "unset";
			yada.resourceDir = /*[[${@config.versionedResourceDir}]]*/ "unset";
			yada.messages.connectionError.title = /*[[#{javascript.connection.error.title}]]*/ "unset";
			yada.messages.connectionError.message = /*[[#{javascript.connection.error.message}]]*/ "unset";
			wcp.ready(function(){
				wcp.enableLanguageMenu();
				const showNotification = /*[[${YADA_NBODY!=null}]]*/ false;
				if (showNotification) {
					setTimeout(function(){
						$('#yada-notification').modal('show');
					}, 300);
				}
			});
		//]]>
	</script>

	<!--/* Notify modal */-->
	<div th:insert="~{${@yadaNotify.viewName} :: modal}" class="modal fade" th:classappend="|B${@config.bootstrapVersion}|" id="yada-notification" role="dialog"></div>

</body>
</html>
