<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:yada="http://www.yadaframework.net">
<head>
	<th:block th:replace="~{/header :: headFragment}"/>
</head>
<body>

<th:block th:replace="~{/header :: body/header}"/>

<main class="container">
	<h1>Doodle Clone</h1>
	<div>
	 	<p>Spring MVC Version</p>
	    <p>Author: Cristian Ghezzi</p>
	</div>
	<div class="pollAttributes">
		<div>Titolo</div><div>Prossima riunione JUG</div>
		<div>Descrizione</div><div>L'argomento dell'incontro sarà "JavaOne" in cui i veterani, tra
		una birretta e una grappetta, ricorderanno i bei tempi andati.</div>
		<div>Deadline</div><div>20 Ottobre 2024</div>
	</div>
	
	<div th:replace="~{/choices :: body}"></div>
</main>

<th:block th:replace="~{/footer :: body}"/>

<th:block th:if="${login}!=null">
	<div th:replace="/modalLogin :: #loginModal"></div>
</th:block>

<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	$(document).ready(function() {
	
		// Error modal for unhandled exceptions
		if (/*[[${yadaExceptionObject!=null}]]*/ "placeholder") {
			const errorTitle = /*[[#{yada.error.http.otherTitle}]]*/ "placeholder";
			const errorMessage = /*[[${@config.isDevelopmentEnvironment()} ? ${yadaExceptionMessage!=null?yadaExceptionMessage:'no message'} : #{yada.error.http.otherMessage}]]*/ "placeholder";
			yada.showErrorModal(errorTitle, errorMessage);
		}
		
		// HTTP Error modal
		if (/*[[${yadaHttpStatus!=null}]]*/ "placeholder") {
			yada.showErrorModal(/*[[${#messages.msg('yada.error.http.title', yadaHttpStatus)}]]*/ "placeholder", /*[[#{|yada.error.http.${yadaHttpStatus}|}]]*/ "placeholder");
		}
	});
	
	//]]>

</script>

</body>
</html>
