<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:yada="http://www.yadaframework.net">
<head>
	<title>Doodle Clone</title>
	<th:block th:replace="~{/header :: headFragment}"/>
</head>
<body>

<th:block th:replace="~{/header :: body}"/>

<main class="container">
	
	<div class="card small" th:unless="${@userSession.loggedIn}">
		<div class="card-body">
			<div th:replace="~{/modalLogin :: #loginForm}">Login form here</div>
			<a th:href="@{/registerPage}" th:text="#{register.link}">Create account</a>
		</div>
	</div>
	
	<p class="disclaimer">
	Questo è un prototipo il cui scopo è di porre le basi per un
	confronto sulle tecniche di programmazione web nell'ambito del 
	<a href="https://juggenova.it/" target="_blank">JUG Genova</a> come illustrato 
	<a href="https://github.com/juggenova/webapp-compare" target="_blank">nel nostro repository</a>.
	Non ha la pretesa di offrire un'implementazione completa, robusta e persistente
	delle funzionalità del sito cui si ispira e non deve quindi essere usato in tal senso.
	</p>
	
</main>

<th:block th:replace="~{/footer :: body}"/>

<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	wcp.ready(function() {
	
		// Error modal for unhandled exceptions
		if (/*[[${yadaExceptionObject!=null}]]*/ "placeholder") {
			const errorTitle = /*[[#{yada.error.http.otherTitle}]]*/ "placeholder";
			const errorMessage = /*[[${@config.isDevelopmentEnvironment()} ? ${yadaExceptionMessage!=null?yadaExceptionMessage:'no message'} : #{yada.error.http.otherMessage}]]*/ "placeholder";
			yada.showErrorModal(errorTitle, errorMessage);
		}
		
		// HTTP Error modal
		if (/*[[${yadaHttpStatus!=null}]]*/ "placeholder") {
			yada.showErrorModal(/*[[${#messages.msg('yada.error.http.title', yadaHttpStatus)}]]*/ "placeholder", /*[[#{|yada.error.http.${yadaHttpStatus}|}]]*/ "placeholder");
		}
	});
	
	//]]>

</script>

</body>
</html>
