<!DOCTYPE html>

<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">
<head>
	<th:block th:replace="~{/header :: head}"/>
</head>
<body class="yada" 
	th:classappend="|${@yadaSecurityUtil.loggedIn()?'loggedIn':'notLoggedIn'}|"
	th:with="admin=${@userSession!=null and @userSession.isAdmin()},loggedIn=${@yadaSecurityUtil.loggedIn()}">

<th:block th:replace="~{/header :: body}"/>

<main class="container">
	<div class="card small">
		<div class="card-body">
			<form role="form" th:action="@{/yadaPasswordResetPost}" th:object="${yadaRegistrationRequest}" method="post">
				<div class="mb-3">
					<label for="email" th:text="#{registration.form.field.email}" class="form-label">E-Mail</label>
					<input type="email" id="email" name="email" th:value="*{email}" class="form-control" maxlength="64" 
						th:placeholder="#{registration.form.field.email}" required="required" autofocus="autofocus" />
				</div>
				<button class="btn btn-primary" type="submit" th:text="#{pwdreset.form.submit}">Reset Password</button>
			</form>
		</div>
	</div>
</main>

<th:block th:replace="~{/footer :: body}"/>
 <script>
	wcp.ready(yada.loaderOff);
</script>
 
</html>
