<!DOCTYPE html>

<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">

<head>
	<th:block th:replace="~{/header :: head}" />
</head>

<body class="register">

	<th:block th:replace="~{/header :: body}" />

	<main class="container">
		<form th:action="@{/signup}" th:object="${wcpRegistrationRequest}" role="form" class="login" method="post" id="registrationForm">
			<label for="username" class="asdrg">Username</label> <!--/* The username field is hidden and used to detect spam */-->
			<input type="text" class="asdrg" id="username" name="username" th:value="*{username}">
			<div class="mb-3">
				<label for="email" class="form-label">E-Mail</label>
				<input type="email" th:field="*{email}" required="required" autofocus="autofocus" class="form-control" th:errorclass="fieldError">
				<div class="errorRow" th:classappend="${#fields.hasErrors('email')}? fieldError">
					<small th:each="err : ${#fields.errors('email')}" th:text="${err}">Error</small>
				</div>
			</div>
			<div class="mb-3">
				<label for="name" class="form-label" th:text="#{register.form.name}">Name</label>
				<input type="text" th:field="*{name}" class="form-control" required="required">
			</div>
			<div class="mb-3">
				<label for="surname" class="form-label" th:text="#{register.form.surname}">Surname</label>
				<input type="text" th:field="*{surname}" class="form-control" required="required">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" th:field="*{password}" required="required" class="form-control" th:errorclass="fieldError">
				<!--/* Span 2 columns */-->
				<div class="errorRow" th:classappend="${#fields.hasErrors('password')}? fieldError">
					<small th:each="err : ${#fields.errors('password')}" th:text="${err}">Error</small>
				</div>
			</div>
			<div class="mb-3">
				<label for="confirmPassword" class="form-label" th:text="#{register.form.passwordConfirm}">Confirm Password</label>
				<input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
				<!--/* Span 2 columns */-->
				<small class="pwdMismatch" th:text="#{register.form.password.mismatch}">Password mismatch</small>
			</div>
			<div class="form-check mb-3">
				<input id="privacy" name="privacy" type="checkbox" class="form-check-input" required>
				<label for="privacy" th:utext="#{register.form.privacy(@{/privacy})}" class="form-check-label">I declare...</label>
			</div>
			<div class="mb-3" th:text="#{register.form.allrequired}">
				All fields are required
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary" th:text="#{register.form.submit}">Create account</button>
			</div>
		</form>
	</main>

	<th:block th:replace="~{/footer :: body}" />

	<script th:inline="javascript">
		yada.enablePasswordMatch($("#registrationForm"));
		wcp.ready(yada.loaderOff);
		$("#registrationForm").submit(function(){yada.loaderOn();});
	</script>

</body>

</html>