<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">

<head>
	<meta charset="UTF-8">
</head>

<body th:remove="tag">
	<div th:with="
		sortedVotes=${pollToVote.get(poll)},
		startDay=${poll.startDay},
		endDay=${poll.endDay},
		lang=${#locale.language},
		YES=${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).YES},
		NO=${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).NO},
		MAYBE=${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).MAYBE}">
		
		<div th:each="vote, iterStat : ${sortedVotes}">
			<form class="choiceForm">
			    <fieldset>
			        <legend th:text="${#dates.format(vote.day, 'EEEE d MMMM')}"></legend>
			        <label th:each="choiceValue : ${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).getSortedValues()}">
			        	<input type="radio" name="choice" yada:ajax="@{/user/castVote(voteId=${vote.id})}" yada:showAjaxFeedback
			        		th:value="${choiceValue}" th:checked="${vote.choice==choiceValue}"> 
			        	[[#{|label.choice.${choiceValue}|}]]
			        </label>
			    </fieldset>
			</form>
		</div>
	</div>
	
</body>

</html>