<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:yada="http://www.yadaframework.net">

<head>
	<meta charset="UTF-8">
</head>

<body th:remove="tag">
	<div th:with="
		lang=${#locale.language},
		YES=${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).YES},
		NO=${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).NO},
		MAYBE=${T(net.ghezzi.jugg.wcp.persistence.entity.ChoiceEnum).MAYBE}">
		
		<h2><span th:text="#{label.user}">User</span> <span id="userTitle" th:text="${@userSession.currentUsername}">some@example.com</span></h2>
		
		<th:block th:with="dayIndex=0,dayName=lang=='it'?'Venerdì':'Friday'">
			<form th:action="@{/user/castVote}" class="choiceForm yadaAjax" th:fragment="voteFragment(dayIndex,dayName)">
				<input type="hidden" name="index" th:value="${dayIndex}">
				<fieldset th:with="choice=${sortedVotes.size()>dayIndex?sortedVotes[dayIndex].choice:NO}">
					<legend>[[|${dayName} ${dayIndex+1}|]]</legend>
					<label> <input type="radio" name="voted" value="YES" th:checked="${choice==YES}"> [[#{label.choice.YES}]]</label>
					<label> <input type="radio" name="voted" value="NO" th:checked="${choice==NO}"> [[#{label.choice.NO}]]</label>
					<label> <input type="radio" name="voted" value="MAYBE" th:checked="${choice==MAYBE}"> [[#{label.choice.MAYBE}]]</label>
				</fieldset>
			</form>
		</th:block>
		
		<div th:replace="~{::voteFragment(1,lang=='it'?'Sabato':'Saturday')}"></div>
		<div th:replace="~{::voteFragment(2,lang=='it'?'Domenica':'Sunday')}"></div>
		<div th:replace="~{::voteFragment(3,lang=='it'?'Lunedì':'Monday')}"></div>
		<div th:replace="~{::voteFragment(4,lang=='it'?'Martedì':'Tuesday')}"></div>
		<div th:replace="~{::voteFragment(5,lang=='it'?'Mercoledì':'Wednesday')}"></div>
		<div th:replace="~{::voteFragment(6,lang=='it'?'Giovedì':'Thursday')}"></div>

	</div>
	
	<script th:inline="javascript">
		wcp.ready(function(){
			// Submit on radio change
			$("form.choiceForm input").change(function() {
				$(this).closest("form").submit();
			});
		});
	</script>


</body>

</html>