<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:yada="http://www.yadaframework.net">
<head>
	<title>Doodle Clone</title>
	<th:block th:replace="~{/header :: headFragment}"/>
</head>
<body>

<th:block th:replace="~{/header :: body}"/>

<main class="container">

	<div th:each="poll : ${polls}">
		<div class="pollAttributes">
			<div th:text="#{label.title}">Titolo</div><div th:text="${poll.title}">Prossima riunione JUG</div>
			<div th:text="#{label.description}">Descrizione</div><div th:text="${poll.description}">L'argomento dell'incontro sarà...</div>
			<div>Deadline</div><div><span th:text="${poll.deadline}">20 Ottobre 2024</span> <a th:unless="${poll.closed}" th:href="@{/user/closePoll(id=${poll.id})}">Termina adesso</a></div>
		</div>
		
		<th:block th:if="${poll.closed}">
			<p th:text="#{label.pollclosed}">Le votazioni sono chiuse!</p>
			<p><span th:text="#{label.chosenday}">Giorno scelto:</span> [[${poll.chosenDay}]]</p>
		</th:block>
		<th:block th:unless="${poll.closed}" th:with="sortedVotes=${pollToVote.get(poll)}">
			<div th:replace="~{/user/choices :: body}"></div>
		</th:block>
	</div>
	
</main>

<th:block th:replace="~{/footer :: body}"/>

</body>
</html>
