<!DOCTYPE html>
<html th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:yada="http://www.yadaframework.net">
<head>
	<title>Doodle Clone</title>
	<th:block th:replace="~{/header :: headFragment}"/>
</head>
<body>

<th:block th:replace="~{/header :: body}"/>

<main class="container">

	<div th:if="${polls.empty}">[[#{home.nopoll}]] <a th:href="@{/admin/dashboard}">Dashboard</a>!</div>
	<div th:each="poll : ${polls}" class="pollView">
		<h3 th:text="${poll.title}">Prossima riunione JUG</h3>
		<div class="pollAttributes">
			<div>ID</div><div>#[[${poll.id}]]</div>
			<div th:text="#{label.description}">Descrizione</div><div th:text="${poll.description}">L'argomento dell'incontro sarà...</div>
			<div>Deadline</div><div><span th:text="${#dates.format(poll.deadline, 'EEEE d MMMM HH:mm')}">20 Ottobre 2024</span> <a th:if="${@userSession.isLoggedUser(poll.owner)}" th:unless="${poll.closed}" th:href="@{/user/closePoll(id=${poll.id})}">Termina adesso</a></div>
		</div>
		
		<th:block th:if="${poll.closed}">
			<p th:text="#{label.pollclosed}">Le votazioni sono chiuse!</p>
			<p><span th:text="#{label.chosenday}">Giorno scelto:</span> [[${#dates.format(poll.chosenDay, 'EEEE d MMMM')}]]</p>
		</th:block>
		<th:block th:unless="${poll.closed}">
			<div th:replace="~{/user/choices :: body}"></div>
		</th:block>
	</div>
	
</main>

<th:block th:replace="~{/footer :: body}"/>

</body>
</html>
